extends layout

block content
  h1= title
  p.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin neque eget dolor gravida, et vehicula
    nunc molestie. Proin tincidunt augue at orci aliquet, non congue dolor sagittis. Pellentesque elit arcu, tincidunt
    non dolor sed, pharetra molestie lectus. Sed maximus erat felis, eget consectetur erat tincidunt in. Aenean
    porttitor purus leo, eget finibus libero pharetra at. Suspendisse suscipit dictum auctor. Nunc luctus magna in leo
    maximus placerat nec sed turpis. Nam id diam consequat, lobortis odio nec, pharetra orci. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla tincidunt lectus id arcu sagittis
     sagittis. Donec nec mauris leo. Vestibulum nec metus vel nunc mattis molestie. Pellentesque est erat, pulvinar
     id viverra interdum, dictum in risus.



