//Created by Ahmet on 1/17/2017.

extends layout

block content
    h2.page-header Admin Panel

    body
        div
            a.btn.btn-info(href='/posts/add', role='button') Add Post
            br
            br
            a.btn.btn-info(href='/category/add', role='button') Add Category









